body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;

    background-color: #394053;
}

a {
    text-align: center;
    background-color: Black;
    text-decoration: none;

    font-family: Arial;
    color: White;
}

.transition {
    transition: .15s;
}

.transition-short {
    transition: .1s;
}

.homepage {
    background-color: #B2FFA9;
}

    .homepage:hover {
        background-color: #071F36;
    }

    .homepage img {
        width:100%;
        /* margin: -20px; */
    }

#main {
    /* border: 0px solid;
    color: Black;
    height: 220px; */
    
    margin-top: 10px;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
}

.button-link {
    height: 50px;
    justify-content: center;
    padding-top: 4%;
    margin-top: 10px;
    font-size: 18px;
}

.inactive-link {
    background-color: #071F36;
    color: White;
}
    .inactive-link:hover {
        background-color: #B2FFA9;
        color: Black;
    }

.active-link {
    background-color: #B2FFA9;
    color: Black;
}
    /* .active-link {
        background-color: #071F36;
        color: White;
    } */

#best-header {
    position: sticky;
    top: 50px;
}

#footer {
    /* background-color: Red; */
    padding:100px 0px 100px 0px;
}